/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22/10/2015, 22:00:03
    Author     : Reginaldo
*/
body{
    font-family: arial, helvetica, sans-serif;
    font-size: 14px;
}

h1{
    color: #006699;
    font-size: 18px;
}

ul{
    list-style-type: square;
}

input{
    background-color: #E6E6FA;
    border: solid 1px #000000;
}
